<!-- SEO Meta Tags -->
<meta name="description" content='{% if description %}{{ description }}{% else %}{{ site.description }}{% endif %}'>
<meta name="keywords" content="{{ site.keywords }}">
<meta name="author" content="{{ site.author }}">
<meta name="robots" content="{{ site.robots }}">

<!-- Preload Critical Resources -->
<link rel="preload"
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" as="style">
<link rel="preload" href="/style/bundle.css" as="style">

<!-- DNS Prefetch -->
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//fonts.gstatic.com">

<!-- Favicons -->
<link rel="icon" type="image/png" href="/assets/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
<link rel="shortcut icon" href="/assets/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
<meta name="apple-mobile-web-app-title" content="{{ site.shortName }}" />
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="default">
<link rel="manifest" href="/assets/site.webmanifest" />
<meta name="theme-color" content="{{ site.themeColor }}">
<meta name="msapplication-TileColor" content="{{ site.themeColor }}">