<!-- Structured Data -->
<script type="application/ld+json">
{
    "@context": "https://schema.org",
    "@type": "SportsEvent",
    "name": "{{ site.name }}",
    "description": "{{ site.description }}",
    "url": "{{ site.url }}",
    "image": "{{ site.url }}{{ site.ogImage }}",
    "organizer": {
        "@type": "Organization",
        "name": "{{ site.organization.name }}",
        "url": "{{ site.organization.url }}"
    },
    "location": {
        "@type": "Place",
        "name": "{{ site.location.name }}",
        "address": {
            "@type": "PostalAddress",
            "addressLocality": "{{ site.location.city }}",
            "addressRegion": "{{ site.location.state }}",
            "addressCountry": "{{ site.location.country }}"
        }
    },
    "sport": "Running",
    "keywords": "{{ site.keywords }}",
    "audience": {
        "@type": "Audience",
        "audienceType": "General Public"
    },
    "isAccessibleForFree": true,
    "accessibilityFeature": [
        "wheelchairAccessible",
        "signLanguageInterpretation",
        "audioDescription"
    ]
}
</script>