<section class="about-event" id="sobre">
    <div class="about-container">
        <div class="about-content">
            <div class="about-image">
                <img src="assets/incluirio2023.jpeg" alt="Inclui Rio 2023">
            </div>
            <div class="about-text">
                <h2 class="about-title">Participe da maior corrida pela inclusão do Rio de Janeiro</h2>
                <p class="about-description">A Inclui Rio - Corrida e Caminhada está de volta em 2025 e promete ser o
                    evento mais inspirador do ano no Rio de Janeiro! Este não é apenas mais uma corrida, é um movimento
                    de transformação social que une esporte, saúde e solidariedade em um único propósito. Ao participar,
                    você cuida da sua saúde, desafia seus limites e ainda contribui diretamente para mudar vidas, pois
                    todos os recursos arrecadados são destinados aos Clubes Rotary do Rio de Janeiro para realizar ações
                    de amparo e impacto para Pessoas com Deficiência em nossa cidade.</p>
                <p class="about-description about-highlight"><strong>Seja você corredor experiente ou iniciante, há
                        espaço para todos
                        nesta celebração da diversidade e superação.</strong></p>
                <a href="#comprar" class="comprar-btn">Participe</a>
            </div>
        </div>
    </div>
</section>